<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据源定义</title>
    <link rel="stylesheet" th:href="@{/libs/css/bootstrap.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/fonts/circular-std/style.css}">
    <link rel="stylesheet" th:href="@{/libs/css/style.css}">
    <link rel="stylesheet" th:href="@{/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/vendor/datepicker/tempusdominus-bootstrap-4.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/inputmask/css/inputmask.css}"/>
    <link rel="stylesheet" th:href="@{/libs/css/DataSource.css}">
</head>
<body>
<div class="dashboard-main-wrapper">
    <div th:replace="commons/common::navbar"></div>
    <div th:replace="commons/common::sidebar(${'Master'},${'None'},${'DataSource'})"></div>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="section-block" id="basicform">
                <h3 class="section-title"></h3>
                <p></p>
            </div>
            <div class="card">
                <div>
                    <img id="source-back" th:src="@{/images/back.jpg}" onclick="location.href='/source'"/>
                    <a href="/source" th:href="@{/source/DataSourceList}"></a>
                </div>
                <div class="card-body">
                    <div>
                        <form class="form-horizontal" th:action="@{/source/DataSourceView}" th:object="${sourceEntity}"
                              method="get">
                            <input type="hidden" name="id" readonly="readonly" th:value="*{id}"/>
                            <div class="form-group">
                                <label for="code" class="col-sm-2 control-label">编号</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="code" id="code" readonly="readonly"
                                           th:value="*{code}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="name" id="name" readonly="readonly"
                                           th:value="*{name}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dbtype" class="col-sm-2 control-label">数据库类型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="dbtype" id="dbtype" disabled="disabled"
                                            th:value="*{dbtype}">
                                        <option value="Oracle" selected>Oracle</option>
                                        <option value="SQLServer">SQLServer</option>
                                        <option value="PgSQL">PgSQL</option>
                                        <option value="MySQL">MySQL</option>
                                        <option value="DM">达梦</option>
                                        <option value="HighGo">瀚高</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ip" class="col-sm-2 control-label">IP地址</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="ip" id="ip" readonly="readonly"
                                           th:value="*{ip}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dbname" class="col-sm-2 control-label">数据库名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="dbname" id="dbname"
                                           readonly="readonly" th:value="*{dbname}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="col-sm-2 control-label">用户</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="username" id="username"
                                           readonly="readonly" th:value="*{username}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="password" id="password"
                                           readonly="readonly" th:value="*{password}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
