<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据源定义</title>
    <!--thymeleaf表达式，th:href="@{/css/bootstrap.css}"@表示后面的是一个链接-->
    <link rel="stylesheet" th:href="@{/libs/css/bootstrap.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/fonts/circular-std/style.css}">
    <link rel="stylesheet" th:href="@{/libs/css/style.css}">
    <link rel="stylesheet" th:href="@{/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/vendor/datepicker/tempusdominus-bootstrap-4.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/inputmask/css/inputmask.css}"/>
    <link rel="stylesheet" th:href="@{/libs/css/DataSource.css}">
    <script th:src="@{/libs/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/js/DataSource.js}"></script>
    <script>
        // let old;
        // function RowClick(e){
        //     if(old){
        //         old.bgColor="#fff";
        //     }
        //     old=e;
        //     e.bgColor="#e6e6f2";
        // }
    </script>
</head>
<body>
<div class="dashboard-main-wrapper">
    <div th:replace="commons/common::navbar"></div>
    <div th:replace="commons/common::sidebar(${'Master'},${'None'},${'DataSource'})"></div>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="section-block" id="basicform">
                <h3 class="section-title">数据源列表</h3>
                <p></p>
            </div>
            <div class="card">
                <!--                <h5 class="card-header">&#45;&#45;①&#45;&#45;</h5>-->
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>编号</th>
                            <th>名称</th>
                            <th>数据库类型</th>
                            <th>IP地址</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--each来进行for循环求值-->
                        <tr th:each="dataSource : ${dataSourceEntityList}" id="source-table" th:onclick="RowClick(this)" ><!--onclick="test(this)"-->
                            <th scope="row" th:text="${dataSource.id}" hidden="hidden">1</th>
                            <th scope="row" th:text="${dataSourceStat.index+1}">1</th>
                            <td th:text="${dataSource.getCode()}">neo</td>
                            <td th:text="${dataSource.getName()}">Otto</td>
<!--                            <td th:text="${dataSource.getDbtype()}">6</td>-->
                            <td th:if="${dataSource.getDbtype() =='Oracle'}">Oracle</td>
                            <td th:if="${dataSource.getDbtype() =='SQLServer'}">SQLServer</td>
                            <td th:if="${dataSource.getDbtype() =='PostgreSQL'}">PostgreSQL</td>
                            <td th:if="${dataSource.getDbtype() =='MySql'}">MySql</td>
                            <td th:if="${dataSource.getDbtype() =='DM'}">达梦</td>
                            <td th:if="${dataSource.getDbtype() =='HighGo'}">瀚高</td>
                            <td th:text="${dataSource.getIp()}">ip</td>
                            <td><a th:href="@{/source/toEdit(id=${dataSource.id})}">编辑</a></td>
                            <td><a th:href="@{/source/DataSourceView(id=${dataSource.id})}">查看</a></td>
                            <td><a th:href="@{/source/delete(id=${dataSource.id})}">删除</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <d class="col-sm-6 control-label">
                            <a href="/source/toAdd" th:href="@{/source/toAdd}" class="btn btn-info">新增</a>
                            <a href="/source" th:href="@{/source/DataSourceList}" class="btn btn-info">刷新</a>
                            <input type="button" class="btn btn-info" th:value="连接测试" th:onclick="DblinkTest()"/>
                        </d>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
